.v-ripple {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
  --ripple-duration: 0.4s;
  --ripple-start-scale: 0;
  --ripple-end-scale: 2;
  --ripple-color: currentColor;
  --ripple-max-opacity: 0.2;
}

@media only screen and (max-width: 925px) {
  .v-ripple {
    --ripple-duration: 0.35s;
    --ripple-start-scale: 0.27;
  }
}

.v-ripple__circle {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: var(--ripple-color);
  pointer-events: none;
  opacity: var(--ripple-max-opacity);
  transform: scale(var(--ripple-start-scale));
  animation-name: v-ripple-effect;
  animation-duration: var(--ripple-duration);
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.3, 0.4, 1);
  transition: calc(var(--ripple-duration) / 2) opacity,
    calc(var(--ripple-duration) / 2) background-color;
}

.v-ripple__circle.hiding {
  opacity: 0;
}

@keyframes v-ripple-effect {
  from {
    transform: scale(var(--ripple-start-scale));
  }
  to {
    transform: scale(var(--ripple-end-scale));
  }
}
